body {
    background-color: rgb(250, 188, 219);
}

h1{
    font-family: "Montserrat";
    text-align: center;
}
  
  .links a {
    text-decoration: none;
}

.red{
    font-size: 24px;
    color: red;
}

.up {
    text-align: center;
    font-size: 15px;
}

.container {
    text-align: center;
}
nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
nav ul.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: hwb(330 92% 0%);
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 14px 28px rgba(221, 109, 140, 0.25), 0 10px 10px rgba(218, 108, 147, 0.22);
}
nav li {
    display: inline-block;
    position: relative;
}
nav a {
    position: relative;
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    color: #000;
}
nav a:hover {
    color: #e85ea7;
}
nav a.active {
    text-decoration: underline;
    color: #e85ea7;
}
.logo {
    width: 90px;
    height: 70px;
    margin-right: 10px;
    margin-left: 20px;
    vertical-align: middle;
}
.social_icons {
    margin-left: 20px;
    overflow: hidden;
}
.social_icons img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .container {
        text-align: left;
    }
    nav {
        justify-content: flex-start;
        overflow: hidden;
    }

    nav ul.menu {
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        border-radius: 100px;
        background-color: hwb(330 92% 0%);
        list-style-type: none;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
    .social_icons {
        margin-left: 100px;
    }
}


.contain {
    display: flex;
}

.DobroPoz {
    flex: 1;
    margin-right: 115px;
    text-align: center;
}

.navigation {
    display: inline-table;
    border: 2px solid pink;
    padding: 10px;
    box-shadow: 0 18px 30px rgba(221, 109, 140, 0.25), 0 10px 10px rgba(218, 108, 147, 0.22);
}
.navigation ol {
    list-style-type: none;
    padding: 0;
    margin: 10px;
}
.navigation li {
    margin-bottom: 10px;
    text-align: left;
}
.navigation li::before {
    content: "➤";
    margin-right: 5px;
}

.list {
    text-align: center;
}
.list-table {
    display: inline-block;
}
.links1 {
    font-size: 20px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        border: 5px solid #ff69b4;
        display: inline-block;
        padding: 5px;
        border-radius: 5px;
}
.img1 {
    text-align: center;
    box-shadow: 0 14px 30px rgba(221, 109, 140, 0.25), 0 10px 10px rgba(218, 108, 147, 0.22);
    
}
.imgg1 {
    max-width: 100%;
    max-height: 100%;
    
}
figcaption {
    font-style: italic;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
.form1 {
    background-color: hwb(330 92% 0%);
    border-radius: 30px;
    box-shadow: 0 14px 28px rgba(221, 109, 140, 0.25), 0 10px 10px rgba(218, 108, 147, 0.22);
    padding: 20px;
    padding-top: 15px;
    margin: 0 auto;
    width: 300px;
}
.form1 table {
    width: 100%;
}
.form1 td {
    padding: 10px;
}

.form2 {
    background-color: hwb(330 92% 0%);
    border-radius: 30px;
    box-shadow: 0 14px 28px rgba(221, 109, 140, 0.25), 0 10px 10px rgba(218, 108, 147, 0.22);
    padding: 20px;
    padding-top: 15px;
    width: 500px;
    margin: 0 auto; 
    max-width: 100%;
}
.form2 table {
    width: 100%;
}
.form2 td {
    padding: 10px;
}

@media (max-width: 767px) {
    .form2 {
        width: 100%;
        max-width: 100%; 
        box-sizing: border-box;
    }
}

.text1 {
    text-align: center;
}


.map1 {
  max-width: 100%;
}

.frame {
    width: 250px;
    height: 450px;
    margin: 20px 20px;
    border: 2px solid #dc4d99;
    padding: 40px;
    text-align: center;
}

.catalogpic a {
    text-decoration: none;
}

.catalogpic p {
    text-align: center;
}

.catalogpic {
    max-width: 250px;
}

figure {
   text-align: center;
}

